.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    text-align: center;

}
p{
    padding: -10px;
}
.container-fluid {
    padding: 60px 50px;
}
.input-group{
    width: 600px;
    display: inline-table;
    text-align: center;
}
.image{
    border: #fff 10px solid;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hidden{
  visibility:collapse;
}
@media screen and (max-width: 655px) {
  .input-group{
    width:100%;
  }
  .image{
    margin-left:23%;
    margin-top: -30px;
  }
}
h1{
  font-family: helvetica,sans-serif;
}
@media screen and (max-width: 354px) {
  .image{
    margin-left:10%;
}
